<div class="navbar-default">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="menu_area alt-font">
                    <nav class="navbar navbar-expand-lg navbar-light no-padding">

                        <div class="navbar-header navbar-header-custom">
                            <!-- start logo -->
                            <a href="index.html" class="navbar-brand"><img id="logo" src="../img/logos/logo.png" alt="just produce logo"></a>
                            <!-- end logo -->
                        </div>

                        <div class="navbar-toggler"></div>

                        <!-- start menu area -->
                        <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                            <li><a href="/">Home</a></li>
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="/view_orders">View Orders</a></li>
                            <li><a href="/add_sku">Add SKU</a></li>
                            <li><a href="/partners">Partners</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                        <!-- end menu area -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>