<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167900031-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167900031-1');
</script>

<!-- metas -->
<meta charset="utf-8">
<meta name="author" content="Chitrakoot Web" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="Just Produce, Agriculture, Vegetables, Redmart, Mesclun" />


<!-- title  -->

<title><%= title %></title>
<!-- favicon -->
<link rel="shortcut icon" href="/img/logos/favicon.png" />
<link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

<!-- plugins -->
<link rel="stylesheet" href="/css/plugins.css" />

<!-- search css -->
<link rel="stylesheet" href="/search/search.css" />

<!-- core style css -->
<link href="/css/styles.css" rel="stylesheet" />

<!-- <link rel="stylesheet" href="/css/fontawesome/plugins.css" /> -->

<link rel="stylesheet" href="/css/insta.css" />

<!-- Inserting Gil Sans Nova font from Adobe -->
<link rel="stylesheet" href="https://use.typekit.net/jom4ujn.css">

