<table border="1">
	<tr>
		<td style="background-color: lightgrey" width="200px">Name: </td>
		<td width="400px">{{name}}</td>
	</tr>

	<tr>
		<td style="background-color: lightgrey">Company Name: </td>
		<td>{{coyname}}</td>
	</tr>

	<tr>
		<td style="background-color: lightgrey">Email: </td>
		<td>{{email}}</td>
	</tr>

	<tr>
		<td style="background-color: lightgrey">Phone Number: </td>
		<td>{{phone}}</td>
	</tr>

	<tr>
		<td style="background-color: lightgrey">Inquiry: </td>
		<td>{{inquiry}}</td>
	</tr>
</table>