@media screen and (min-width: 991px) {
    #details {
        padding-top: 3em;
    }
}

@media screen and (min-width: 1200px) {

    .scroll {
        overflow: auto; 
        height: 370px;
    }
    
    /*Scroll bar*/
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
}