            <div class="content-section" >

                <div class="col-12 center-col margin-70px-bottom sm-margin-60px-bottom xs-margin-50px-bottom text-center">
                    <h3 class="font-weight-700 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Get in touch with us</h3>

                    <h4 class="font-weight-400 font-size28 md-font-size24 sm-font-size22 xs-font-size20" style="padding-top: 1em;">If you are a caterer, restaurant owner or retailer, we also provide bulk purchases or food service packaging.</h4>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12 sm-margin-50px-bottom">

                        <div class="mapouter"><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=singapore%20618291&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="height: 75vh;width: calc(100vh - 30px);"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;}.gmap_canvas {overflow:hidden;background:none;}</style></div>

                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12">

                        <div class="padding-50px-left md-padding-30px-left sm-no-padding">

                            <div class="row">
                                <div class="col-12 center-col margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom text-left">
                                    <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title left-center">Contact Info</h3>
                                </div>
                            </div>
                            

                            <div class="common-listing" id="email_btn">
                                <h5 class="font-size18 sm-font-size16 xs-font-size14 margin-10px-bottom">Contact Details</h5>
                                <ul class="no-margin-bottom">
                                    <li><a href="javascript:void(0)"><i class="fa fa-envelope margin-5px-right"></i> sales@justproduce.sg &emsp;&emsp;&emsp;<i class="far fa-copy"></i></a></li>
                                    <input type="text" id="email" value="sales@thejustproduce.com" hidden>
                                </ul>
                                <br>
                                <!-- <ul class="no-margin-bottom">
                                    <li><a href="javascript:void(0)"><i class="fab fa-whatsapp margin-5px-right"></i> +65 89229300 &emsp;&emsp;&emsp;</a></li>
                                </ul> -->
                            </div>

                            <div class="common-listing">
                                <h5 class="font-size18 sm-font-size16 xs-font-size14 margin-10px-bottom">Location</h5>
                                <ul class="no-margin-bottom">
                                    <li><i class="fas fa-map-marker-alt margin-5px-right"></i> 7 Buroh Lane<br/>&nbsp;&nbsp;&nbsp;&nbsp;Commonwealth Capital Building<br/> &nbsp;&nbsp;&nbsp;&nbsp;#06-06<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;Singapore 618291</li>
                                </ul>
                            </div>

                            
                        </div>

                    </div>

                </div>

            </div>
