
            <div class="content-section">
                <div class="col-12 margin-50px-bottom sm-margin-60px-bottom xs-margin-50px-bottom text-center">
                    <h4 class="card-title font-weight-700 font-size32 md-font-size28 sm-font-size26 xs-font-size24 section-title">Get your own salad box at our exclusive retailers below!</h4>
                </div>
                <div class="card card-white">
                    <div class="card-body">
                        <ul class="nav mb-4  nav-pills nav-fill" id="myTab5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="pickup-pills-tab2" data-toggle="tab" href="#selfpickup" role="tab" aria-controls="selfpickup" aria-selected="false">Self-Pickup</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" id="home-pills-tab2" data-toggle="tab" href="#onelinestore" role="tab" aria-controls="onelinestore" aria-selected="true">Online Stores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-pills-tab2" data-toggle="tab" href="#offlinestore" role="tab" aria-controls="offlinestore" aria-selected="false">Offline Stores</a>
                            <li/>
                        </ul>

                        <div class="tab-content" id="myTabContent5">

                            <!-- Online Store -->
                            <div class="tab-pane fade  show active" id="onelinestore" role="tabpanel" aria-labelledby="home-pills-tab2">
                                <div class="text-center">
                                    <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24"> Click on our distributors below to purchase online! </h3>

                                    <!-- First row of Vendors -->
                                    <!-- <div class="row" > -->
                                        <!-- MoguShop -->
                                        <button onclick="window.open('https://www.foodxervices.com/en/catalogue?Search=just%20produce')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"> <img src="./img/vendor-logos/FX_Blk.png" class="vendor"></button>
                                        <!-- Redmart -->
                                        <button onclick="window.open('https://redmart.lazada.sg/just-produce-123242888/?spm=a2o42.pdp.0.0.51d31d37QHjw5v')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/redmart.png" class="vendor"></button>
                                        <!-- GrabFood -->
                                        <button onclick="window.open('https://food.grab.com/sg/en/restaurant/just-produce-commonwealth-capital-building-delivery/4-CZDDJEBWCBN3LN')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/Grab/grab_horizontal.png" class="vendor"></button>
                                    <!-- </div> -->

                                    <br>

                                    <!-- Second row of Vendors -->
                                    <!-- <div class="row" > -->
                                        <!-- Food Xervices -->
                                        <button onclick="window.open('https://mogushop.asia/search?type=product&options%5Bprefix%5D=last&q=just+produce')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/mogushop.png" class="vendor"></button>
                                        <!-- OpenTaste -->
                                        <button onclick="window.open('https://www.opentaste.sg/mesclun-mix-500g-hydroponic-16219945/p.htm?product_id=16219945')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/opentaste.png" class="vendor"></button>
                                        <!-- OpenTaste -->
                                        <button onclick="window.open('https://greenies.com.sg/products?keywords=just+mesclun+salad')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/greenies.png" class="vendor"></button>
                                    <!-- </div> -->

                                    <br>

                                    <!-- Third row of Vendors -->
                                    <!-- <div class="row" >  -->
                                        <button onclick="window.open('https://mmmm.com.sg/vegetable/720-just-mesclun-salad-100g.html')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom"><img src="./img/vendor-logos/MMMM.png"  class="vendor"></button>

                                        <button onclick="window.open('https://sgdeliandgrocer.com.sg/search?q=just+mesclun')" type="button" class="btn btn-vendor-logo btn-rounded col-md-3 logo-margin-bottom" ><img src="./img/vendor-logos/sgdeliandgrocer.png" class="vendor"></button>

                                    <!-- </div> -->

                                    <!-- Coming Soon -->
                                    <!-- <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24"> Coming Soon on </h3>
                                    <div class="row justify-content-center" >
                                    
                                    </div> -->
                                    
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                    </div>
                                    <!-- <button onclick="window.open('https://www.lazada.sg/catalog/?q=just+mesclun&_keyori=ss&m=redmart&from=input&spm=a2o42.lazmart_channel.search.go.e7ea48a6G5qz9P')" type="button" class="btn btn-vendor-logo btn-rounded col-6" style=""><img src="./img/vendor-logos/redmart.png"></button> -->
                                    </div>
                                    <div class="col-3">
                                </div>
                            </div>

                            <!-- Offline Store -->
                            <div class="tab-pane fade" id="offlinestore" role="tabpanel" aria-labelledby="profile-pills-tab2">
                                <div class="text-center">
                                    <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24 text-center"> More Coming Soon.</h3>
                                    
                                    <button type="button" class="btn btn-vendor-logo btn-rounded col-6 " style="pointer-events:none"><img src="./img/vendor-logos/shengsiong.png"></button> 
                                </div>

                                <br>

                                <!-- # Embedding Google Maps  -->

                                <!-- Making the Google Map responsive -->
                                <style> /* Making the map responsive */
                                    .google-maps { 
                                        position: relative;
                                        padding-bottom: 75%; /* This is the aspect ratio */
                                        height: 0;
                                        overflow: hidden;
                                    }
                                    .google-maps iframe {
                                        position: absolute;
                                        top: 0; 
                                        left: 0;
                                        width: 100% !important;
                                        height: 100% !important;
                                    }
                                </style>

                                <!-- Inserting the Google Map here -->
                                <div class="text-center google-maps"> 
                                    <iframe src="https://www.google.com/maps/d/u/1/embed?mid=16rOgZyr4TiEn8NZOgneqa86q6WLcANBt&z=11" width="640" height="480"></iframe> 
                                </div>
                                    
                                    <!-- Sheng Siong -->
                                    <!-- <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24 text-center">Grab your salad boxes at Sheng Siong now!</h3> -->

                                    <!-- <div class="row">
                                        <div class="col-3">
                                        </div> -->
                                        <!-- Sheng Siong -->
                                        <!-- pointer-events:none forcefully disable hoble function-->
                                        <!-- <button type="button" class="btn btn-vendor-logo btn-rounded col-6" style="pointer-events:none"><img src="./img/vendor-logos/shengsiong.png"></button> 
                                        </div>
                                        <br>
                                        <h3 class="font-weight-100 font-size28 md-font-size24 sm-font-size22 xs-font-size20 text-center">We are currently available at these outlets:</h3> -->
                                        <!-- 3 div columns side by side, displaying the outlet names -->
                                        <!-- <div class="row">
                                            <div class="column text-center" style= "width: 33.33%;">
                                                <ul>
                                                    <li>Blk 182 Woodlands Street 13</li>
                                                    <li>Blk 451 Bukit Batok West Avenue 6</li>
                                                    <li>Blk 209 New Upper Changi Road</li>
                                                    <li>Blk 739A Bedok Reservoir Road</li>
                                                    <li>Blk 720 Clementi West St 2</li>
                                                </ul>
                                            </div>
                                            <div class="column text-center" style= "width: 33.33%;"">
                                                <ul>
                                                    <li>Blk 85 Dawson Road </li>
                                                    <li>Elias Mall, Blk  623 Elias Road </li>
                                                    <li>Blk 25 Ghim Moh Link</li>
                                                    <li>Junction 9, 18 Yishun Avenue 9 </li>
                                                    <li>Junction 10, No.1 Woodland Road</li>
                                                </ul>
                                            </div>
                                            <div class="column text-center" style= "width: 33.33%;">
                                                <ul>
                                                    <li>Blk 301 Punggol Central </li>
                                                    <li>Blk 527D Pasir Ris St 51</li>
                                                    <li>Blk 88 Tanglin Halt Road</li>
                                                    <li>No. 200 Upper Thomson Road</li>
                                                    <li>Blk 845 Yishun Street 81</li>
                                                </ul>
                                            </div> 
                                        </div>
                                        <br>
                                        
                                        <div class="col-3">
                                    </div> -->
                                
                            </div>

                            <!-- Self-Pickup -->
                            <div class="tab-pane fade" id="selfpickup" role="tabpanel" aria-labelledby="pickup-pills-tab2">
                                <div class="text-center"></div>
                                    <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24 text-center">FACTORY SALE!!!</h3>

                                    <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24 text-center">Self-Pickup for Private Orders</h3>
                                    <h3 class="font-weight-200 font-size22 md-font-size20 sm-font-size20 xs-font-size20 text-center">We are excited to announce that you can now purchase salad boxes directly from us!<br>
                                    Please click <a target = "_blank" href="/order-form"><strong>here</strong></a> to begin your order.</h3>
                            

                                    <!-- Add this in when offline stores are confirmed -->
                                    <!-- <h3 class="font-weight-300 font-size32 md-font-size28 sm-font-size26 xs-font-size24">Store locations</h3>
                                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1rH35s7zVy2O4YIns6vkC7nQcS8yAB9_F&z=11" width="640" height="480"></iframe> -->
                                    
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
